@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.prose {
    --tw-prose-bullets: 2 6 23;
}

@font-face {
    font-family: "STRATFORD";
    src: url("../src/assets/fonts/stratford-regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "STRATFORD";
    src: url("../src/assets/fonts/Stratford-W01-Roman-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "TIMES";
    src: url("../src/assets/fonts/times.ttf");
    font-weight: normal;
}